%h1 All users:

%table.table.table-hover
  %thead
    %tr
      %th Full name
      %th Email
      %th Products
      %th Reviews
      %th
  - users.each do |user|
    %tr
      %td= user.fullname
      %td= user.email
      %td
        %span.badge= user.products.count
      %td
        %span.badge= user.reviews.count
      %td= link_to 'Show profile', user_path(user)

