%h1 Listing categories

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th
      - if current_user && current_user.admin?
        %th
        %th

  - categories.each do |category|
    %tr
      %td= category.name
      %td
        %strong= link_to 'Show', category
      - if current_user && current_user.admin?
        %td
          %strong= link_to 'Edit', edit_category_path(category)
        %td
          %strong= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

%br

- if current_user && current_user.admin?

  = link_to 'New Category', new_category_path, class: 'btn btn-success'
