%p#notice= notice

%p
  %b Name:
  = category.name

%p
  %b Products:
  - if category.products.any?
    = category.products.first.title
    - category.products.drop(1).each do |product|
      = "| #{product.title}"

- if current_user

  = link_to 'Show products list', category_products_path(category), class: 'btn btn-success'

  %p
    %h3 New product
    = render 'products/form'

%p.pull-right
  - if current_user && current_user.admin?
    %strong= link_to 'Edit', edit_category_path(category)
    \|
  %strong= link_to 'Back', categories_path

