%h1 Listing products: #{category.name} category

%table.table.table-hover
  %thead
    %tr
      %th Title
      %th Description
      %th Price
      %th
      %th
      %th

  - category.products.each do |product|
    %tr
      %td= product.title
      %td= product.description
      %td= product.price
      %td= link_to 'Show', category_product_path(product.category, product)

      - if current_user == product.user
        %td
          = link_to edit_category_product_path(product.category, product) do
            %i.fa.fa-pencil-square-o
            Edit
        %td
          = link_to category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' } do
            %i.fa.fa-trash-o
            Remove
      - else
        %td
        %td
%br

%strong.pull-right= link_to 'Back', category

- if current_user

  = link_to 'New Product', new_category_product_path(category), class: 'btn btn-success'
