%p#notice= notice
%p#error= flash[:error]

%p
  %b Title:
  = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category:
  = product.category.name

%h3 Reviews
= render 'reviews/form'

%table.table.table-hover.reviews-table
  - if reviews.any?
    - reviews.each do |review|
      = render review


%p.pull-right
  - if current_user == product.user
    %strong= link_to 'Edit', edit_category_product_path(category.id, product.id)
    \|
  %strong= link_to 'Back', category_products_path
